/* || SITEWIDE */
body,
html {
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.top-nav__background {
	background-color: #2d2927;
	width: 100%;
	height: 55px;
}

.top-nav {
	width: inherit;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-container {
	width: 700px;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.top-nav .logo-container {
	position: relative;
	z-index: 100;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	color: black;
	height: inherit;
	width: 150px;
	box-shadow: 0px 0px 20px 10px #141414;
	font-size: 24px;
	font-weight: bold;
}

.footer-container {
	width: 100%;
	height: 200px;
	color: white;
	background-color: #2d2927;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.emails div {
	margin: 6px 0px 0px 0px;
}

.emails input[type="text"] {
	font-size: 16px;
	width: 150px;
}

.anchors {
	display: flex;
	flex-direction: row;
	padding: 0px 80px 0px 80px;
	border: 0px;
}

.anchors div {
	display: flex;
	flex-direction: column;
	margin: 0px 12px 0px 12px;
}

.anchors a {
	font-size: 12;
	padding: 8px;
	text-align: center;
}

.socials .icons {
	display: flex;
	flex-direction: row;
	margin-top: 8px;
}

.socials .icons img {
	height: 30px;
	width: 30px;
	margin: 0px 4px 0px 0px;
}

/* || LANDING PAGE */
.landing-page-container {
	padding: 30px 0px 70px 0px;
	display: flex;
	justify-content: center;
	color: black;
	background-image: linear-gradient(to bottom right, rgb(150, 61, 61), #272732);
}

.landing-page-container span {
	color: white;
}

.featured-container {
	height: fit-content;
	width: 1125px;
	height: auto;
	margin-bottom: 30px;
}

.featured-container img {
	object-fit: contain;
	width: inherit;
	height: inherit;
}

.discounts-container {
	color: black;
	background-color: white;
	overflow: auto;
	white-space: nowrap;
	display: flex;
	flex-direction: row;
	height: fit-content;
	width: 1125px;
}

.discounts-container .item {
	border: 2px black solid;
	text-align: center;
	height: 250px;
	width: 205px;
	margin: 10px;
}

.discounts-container .item img {
	object-fit: contain;
	height: 200px;
	width: 200px;
}

.browse-anchor {
	background-color: white;
	margin-top: 20px;
	padding: 10px 0px 10px 0px;
	width: 1125px;
	font-size: 44px;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.browse-anchor a {
	color: black;
	font-size: 42px;
}

/* || REGISTER PAGE & LOGIN PAGE */

.container {
	display: flex;
	justify-content: center;
	background-color: #272732;
	color: white;
}

span {
	font-size: 26px;
	font-weight: bold;
	line-height: 50px;
}

label {
	font-size: 18px;
}

input[type="text"],
input[type="password"] {
	color: white;
	padding: 10px;
	border: solid 1px #6f696d;
	background-color: #272732;
	margin-top: 5px;
	width: 90%;
	font-size: 18px;
}

input[type="radio"] {
	color: white;
	margin-top: 5px;
}

input[type="submit"] {
	margin-top: 30px;
	padding: 10px 0px 10px 0px;
	width: 50%;
	font-size: 20px;
}

select {
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	border: solid 1px #6f696d;
	background-color: #272732;
	margin-top: 5px;
	width: 99%;
}

td {
	padding: 10px;
}

form {
	padding: 50px 0px 70px 0px;
	height: 70vh;
	width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

table {
	width: inherit;
}

/* || SUPPORT PAGE */
