body,
html {
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.top-nav__background {
	background-color: #2d2927;
	width: 100%;
	height: 55px;
}

.top-nav {
	width: inherit;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-container {
	width: 700px;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.top-nav .logo-container {
	position: relative;
	z-index: 100;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	height: inherit;
	width: 150px;
	box-shadow: 0px 0px 20px 10px #141414;
	font-size: 24px;
	font-weight: bold;
}

.container {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: fit-content;
	color: black;
	background-color: beige;
}

.footer-container {
	width: 100%;
	height: 200px;
	color: white;
	background-color: #2d2927;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.emails div {
	margin: 6px 0px 0px 0px;
}

.emails input[type="text"] {
	font-size: 16px;
	width: 150px;
}

.anchors {
	display: flex;
	flex-direction: row;
	padding: 0px 80px 0px 80px;
	border: 0px;
}

.anchors div {
	display: flex;
	flex-direction: column;
	margin: 0px 12px 0px 12px;
}

.anchors a {
	font-size: 12;
	padding: 8px;
	text-align: center;
}

.socials .icons {
	display: flex;
	flex-direction: row;
	margin-top: 8px;
}

.socials .icons img {
	height: 30px;
	width: 30px;
	margin: 0px 4px 0px 0px;
}
