body,
html {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}

.top-nav {
	background-color: cornflowerblue;
	height: 40px;
	width: 100%;
}

.nav-container {
	height: inherit;
	width: inherit;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.nav-container div {
	margin: 0px 16px 0px 16px;
}

.logo-icon {
	width: fit-content;
	height: 90%;
}

img {
	width: auto;
	height: 100%;
}

.search-bar input[type="text"] {
	font-size: 20px;
	width: 400px;
	padding: 2px 6px 2px 6px;
	border: 1px solid black;
	border-radius: 5%;
}

.search-bar input[type="button"] {
	background-image: none;
	background-color: transparent;
	background-repeat: no-repeat;
	height: 100%;
	width: 16px;
}

.nav-anchors {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.nav-anchors a {
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	padding: 13px 8px 13px 8px;
	color: white;
}

.nav-anchors a:hover {
	background-color: black;
}
